body{
    background-color: #23486A;
}
.text-box{
    width: 320px;
    height: 400px;
    background: #4C7B8B;
}
.hello-text{
    color : #ffeecc
}
.btn{
    background-color: #EFB036;
    color: black;
    border-color:black ;
}